/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 6, 2014, 11:43:14 PM
    Author     : ali
*/

.flat-group {
    font-family: 'Open Sans',arial,sans-serif;
    border-radius: 2px;
    padding: 0px;
    padding-left: 10px;
    margin-bottom: 10px;
    display: block;
}

.flat-group i {
    border: none;
    display: inline-block;
    margin-top: 19px;
    padding: 0px;
    color: #CECECE;
    font-size: 20px;
}



.flat-group .form-control {
    color: #555555;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    box-shadow: none !important;
    border-radius: 2px;
    color: #3B3B3B !important;
/*    padding: 3px 6px 3px 13px;*/
    width: 80%;
    margin: 0px;
    border: none;
    float: none !important;
}

input:focus:invalid:focus + .flat-container,textarea:focus:invalid:focus + .flat-container,select:focus:invalid:focus + .flat-container{
    border-color:#e9322d;
    -webkit-box-shadow:0 0 6px #f8b9b7;
    -moz-box-shadow:0 0 6px #f8b9b7;
    box-shadow:0 0 6px #f8b9b7
}

.flat-container {
    border: 1px solid #CCCCCC;
    display: block;
    height: 44px;
    margin-top: -39px;
    margin-left: -10px;
    border-radius: 2px;
    padding: 0px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.flat-container, .flat-group .form-control {
    background: none repeat scroll 0 0 #f7f7f7 !important;
}
.flat-container:focus, .flat-group .form-control:focus {
    background: none repeat scroll 0 0 #fffce0 !important;
}

textarea:focus,input[type="text"]:focus + .flat-container,input[type="password"]:focus + .flat-container,
input[type="datetime"]:focus + .flat-container,
select:focus + .flat-container,
input[type="datetime-local"]:focus + .flat-container,
input[type="date"]:focus + .flat-container,input[type="month"]:focus + .flat-container,
input[type="time"]:focus + .flat-container,input[type="week"]:focus + .flat-container,input[type="number"]:focus + .flat-container,
input[type="email"]:focus + .flat-container,input[type="url"]:focus + .flat-container,input[type="search"]:focus + .flat-container,
input[type="tel"]:focus + .flat-container,input[type="color"]:focus + .flat-container,.uneditable-input:focus + .flat-container{
    border-color:rgba(82, 168, 236, 0.8);
    outline:0;
    outline:thin dotted \9;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    background: none repeat scroll 0 0 #fffce0 !important;
}

.flat-group1 input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
    left:0;
}
.flat-group input[type="file"]{
/*     width: 70% !important;*/
}


