.carousel-inner img {
    height: 100%; width: 100%; display: block;
}
.icon-lg {
    font-size: 50px;
    padding: 0 25px;
    color: #269abc;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -181px;
  /* Pad bottom by footer height */
  padding: 0 0 181px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.shadow-bot {
    -webkit-box-shadow: 0px 2px 8px #000000;
       -moz-box-shadow: 0px 2px 8px #000000;
            box-shadow: 0px 2px 8px #000000;
}
.shadow-top {
    -webkit-box-shadow: 0px -1px 8px #000000;
       -moz-box-shadow: 0px -1px 8px #000000;
            box-shadow: 0px -1px 8px #000000;
}
/*button facebook */
.btn-facebook {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2b4b90;
    *background-color: #133783;
    background-image: -moz-linear-gradient(top, #3b5998, #133783);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
    background-image: -webkit-linear-gradient(top, #3b5998, #133783);
    background-image: -o-linear-gradient(top, #3b5998, #133783);
    background-image: linear-gradient(to bottom, #3b5998, #133783);
    background-repeat: repeat-x;
    border-color: #133783 #133783 #091b40;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook:active,
    .btn-facebook.active,
    .btn-facebook.disabled,
    .btn-facebook[disabled] {
        color: #ffffff;
        background-color: #133783 !important;
        *background-color: #102e6d !important;
    }

    .btn-facebook:active,
    .btn-facebook.active {
        background-color: #0d2456 \9 !important;
    }
    
    .header-box {
        background-color: #F8F8F8;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        display: inline;
        float: left;
        font-size: 15px;
        padding: 10px;
        width: 100%;
    }
    
    #footer {
        background: none repeat scroll 0 0 #EEEEEE;
        border-top: 1px solid #CCCCCC;
        color: #999999;
        font-size: 90%;
        height: auto;
        position: relative;
    }
    
    .shopping-cart {
        background-image: url("../images/shopping-bag.png");
        background-position: 10px 15px;
        background-repeat: no-repeat;
        background-color: #EFF8FE;
        cursor: pointer;
        height: 70px;
        min-width: 115px;
        position: relative;
        text-align: center;
        line-height: 70px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        
        border-bottom: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
    }
    
.alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.alert,.alert h4{color:#c09853;}
.alert h4{margin:0;}
.alert .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
.alert-success h4{color:#468847;}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}
.alert-danger h4,.alert-error h4{color:#b94a48;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
.alert-info h4{color:#3a87ad;}
.alert-block{padding-top:14px;padding-bottom:14px;}
.alert-block>p,.alert-block>ul{margin-bottom:0;}
.alert-block p+p{margin-top:5px;}

#pty_close {
    cursor: pointer;
    border-radius: 100px;
    color: #E6E6E6;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0;
    position: absolute;
    right: -31px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    top: -30px;
    width: 30px;
}

.icon-lg {
    font-size: 50px;
    padding: 0 25px;
    color: #269abc;
}
.icon-md {
    font-size: 30px;
    padding: 0 5px;
    color: #269abc;
}
.icon-sm {
    font-size: 25px;
    padding: 0 10px 0px 0px;
    color: #269abc;
}
.icon-xs {
    font-size: 20px;
    padding: 0 2px;
    color: #269abc;
}
.clear33{
    clear: both;
}

.bs-callout{margin:20px 0;padding:20px;border-left:3px solid #eee}.bs-callout h4{margin-top:0;margin-bottom:5px}.bs-callout p:last-child{margin-bottom:0}.bs-callout code{background-color:#fff;border-radius:3px}.bs-callout-danger{background-color:#fdf7f7;border-color:#d9534f}.bs-callout-danger h4{color:#d9534f}.bs-callout-warning{background-color:#fcf8f2;border-color:#f0ad4e}.bs-callout-warning h4{color:#f0ad4e}.bs-callout-info{background-color:#f4f8fa;border-color:#5bc0de}.bs-callout-info h4{color:#5bc0de}
.bs-callout h4{margin-top:0;margin-bottom:5px}

.dg {
    width: 650px;
}
@media only screen and (min-width: 150px) and (max-width: 600px) 
{
	.dg {
		width:98%;
	}
}

/* SOCIAL */

.twitter {
	background-color: #00a0d1;
        padding: 22px 0 20px;
        z-index: 100;
}
.facebook {
    background: #3b5998;
    padding: 22px 0 20px;
}
.google-plus {
    background: #db4a39;
    padding: 22px 0 20px;
}
.rss {
    background: #ee802f;
    padding: 22px 0 20px;
}

.social {
    margin-top: 30px;
    height: 60px;
    overflow: hidden;
    border: none;
}
.col-social {
    display: inline-block;
    width: 24%;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 4px;
    margin-right: 0.5%;
    -webkit-filter: grayscale(100%);
    float: left;
    padding: 1px;
}
 .twitter:hover, .facebook:hover, .google-plus:hover, .rss:hover {
    border: 1px solid #f0ad4e;
}
.twitter, .facebook, .google-plus, .rss {
     border: 1px solid transparent;
     border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
     cursor: pointer;
}
.col-social a {
    color: #fff;
    text-decoration: none;
    font-family: arial narrow;
    padding-left: 5px;
    display: block;
}
.col-social:hover a {
    
}


.tricolumn {
	/* margin-right: 2%; */
	padding: 0;
}
.lastcolumn {
	margin-right: 0px;
}
.menulist {
	margin: 0px;
	padding: 0px;
}
.menulist li {
	list-style-type: none;
	margin-bottom: 4px;
}
.menulist a {
	color: #CCC;
	display: block;
	padding: 10px;
	border: 1px solid #525252;
	text-decoration: none;
	transition: all linear .3s .01s;
}
.menulist a:hover {
	color: #FFF;
	border-color: #FFF;
	background-color: #5285AB;
	text-decoration: none;
}


#main-menu li:hover a
{
  background-position: left bottom;
  background: #363636;
}

#main-menu li a {
    color: #FFFFFF;
}

/* payment images */
.cc {
    margin-top: 30px;
}
.no-pad {
    padding: 0px 5px 0px 0px !important; 
}
.cimg {
    height: 39px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.ccard {
    color: #FFF;
    display: block;
    padding: 5px;
    float: left;
    padding: 0px !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}


.cc-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.cc-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #21610B;
    line-height: 39px;
    text-align: center;
    color: #CCC;
}

.ccard, .cc-left,  {
    background-color: #21610B;
}
.ccard, .cc-left, .cc-right  {
    height: 39px;
}

.cc {
    text-align: center;
}
