

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a.nav-expander {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-left: 0;
  padding: 1em 1.6em 2em;
  position: absolute;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: left 0.3s ease-in-out 0s;
  width: 130px;
  z-index: 12;

  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    left: 20em;
}

nav.offcanvass {
  background: #2d2f33;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -260px;
  font-size: 15px;
  top: 0;
  width: 260px;
  z-index: 2000;
  
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  left: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 28px;
  padding-right: 10px;
}

.main-menu {
/*  padding-top: 12px;*/
}

.main-menu li {
  border-bottom: 1px solid #323949;
/*  margin-left: 20px;
  margin-right: 20px;*/
  font-size: 18px;
  padding: 9px;
  display: block;
  border-left: 2px solid transparent;
}
.main-menu li.active, .main-menu li:hover {
    background: none repeat scroll 0 0 #181b1f;
    color: #fff;
    border-left: 2px solid #1a7ab9;
}
.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
  width: 100%;
  display: block;
}
.main-menu li a .fa {
    color: green;// #ffcc41;
}
.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
   display: block;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}

/* Sticky footer */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -55px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 55px; 
}
.site-footer {
  /*background: orange;*/
  border-top: 1px solid #E7E7E7;
}

/* Layout */

.sidebar-left {
    display: table;
    float: left;
    width: 300px;
    height: auto;
    left: 0;
    overflow: visible;
    position: absolute;
}
.content {
    display: block;
    float: right;
    overflow: auto;
    width: 100%;
    padding: 20px;
}

.no-pad {
    padding: 0px 5px 0px 0px !important; 
}
.container-lg {
    width: 100%;
    display: table;
    height: 100%;
    background-color: #2d2f33;
}

.advanced-search .btn {
    margin-left: 5px;
}

.navbar .navbar-inner, .eg {
    border: 0 none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.eg {
    background-color: #1e7800;
    background-image: linear-gradient(to bottom, #218200, #1b6900);
    background-repeat: repeat-x;
    border: 1px solid #0b2b00;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
    
.menu-top-eg li > a:hover, .menu-top-eg li > a:focus, .menu-top-eg li > a.active {
    background-color: #144f00;
    border-radius: 1px;
    color: #FFF;
    border-left: 2px solid #1a7ab9;
}
.menu-top-eg li > a {
    margin: 1px;
}

.hide-sidebar {
    left: 0 !important;
}
.container-lg-left-pad {
    padding-left: 260px;
    transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}

a.eg-link  {
    color: #f29500 !important;
    text-decoration: none;
}
a.eg-link:hover, a.eg-link:focus  {
    color: #a56600 !important;
    text-decoration: underline !important;
}

/* Edit buttons in grid */
.grid-edit-btn {
    width: 1%;
    white-space:nowrap;
}
.grid-edit-btn a i {
    color: #428bca !important;
    border-color: #428bca;
    font-size: 24px;
}

.hide {
    display: none;
}
.show {
    display: block;
}