body {
    // font-family: monospace !important;
    color: #333;
    font-size: 13px;
    line-height: 1.5;
}
body, button, input, select, textarea {
    color: #333;
    font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
}
.site-title {
    display: block;
    text-align: center;
}
.site-title h1 {
    margin-bottom: 20px;
}

.menu-bar {
    border-top: 2px solid #2f2f2f;
    display: block;
    margin-bottom: 1px;
}

.menu-bar a:hover, .menu-bar a:focus {
    background-color: #f7f7f7 !important;
    text-decoration: none !important;
}

ul.nav {
    text-transform: uppercase;
    color: #373737;
}
ul.nav a ,.thumbnail-slider a { 
    color: #373737;
    width: 100%;
}
nav ul {
    width: 100%;
    font-size: 115%;
}
nav ul li {
    margin: 0;
    min-width: 10%;
    padding: 0 2%;
    position: relative;
}
nav ul li ul li a {
    padding: 3px 10px;
    display: inline-block !important;
}
.open > .dropdown-menu {
    display: table !important;
}
a {
    text-decoration: none !important;
    color: #999999;
}
.gal-img-top {
    margin-bottom: 10px;
}

footer hr {
    border-top: 1px solid #2f2f2f;
}
.thumbnail-slider img {
    border-radius: 0px !important;
    border: 2px solid #000;
}
.thumbnail-slider a {
    font-size: 115%;
}

section.bottom {
    margin-top: 10px;
}

/** carousel slide bottom */


.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
}
.carousel-control.left {
	background-image: none;
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
}

.carousel-control {
  padding-top:10.25%;
  width:5%;
}

footer {
    margin-bottom: 50px;
}

img.img-thumbnail {
    border-radius: 0px !important;
    border: 1px solid #000;
    margin-bottom: 13px;
}

.contact {
    border-right: 2px solid #ccc;
}
.map {
     border: 2px solid #ccc;
     margin: 0px;
     padding: 0px;
}

.header2 h2 {
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 5px;
    /*border-bottom: 1px solid #f7f7f7;*/
    color: #2b542c;
}

.collections img {
    border-color: #ccc;
    height: 150px;
    width: 100%;
}

.collections p {
    color: #285e8e;
    text-align: justify;
}