#scroller {
    /*background-color: #ffffcc;*/
    background-color: #ffffff;
    color: #000;
    font-size: inherit;
    height: 36px !important;
    line-height:32px;
    overflow: hidden;
    position: relative;
    width: 1005;
/*    padding-top: 1px;*/
    position: relative;
    border: 3px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* future proofing */
    -khtml-border-radius: 3px; /* for old Konqueror browsers */
}
.scrollingtext {
    color: #000;
    white-space:nowrap;
    position:absolute;
    font-size: 14px;
/*    font-style: oblique;*/
}
.scrollingtext a:link, .scrollingtext a:visited {
    color: #000;
    font-size: 16px;
}
.scrollingtext a:visited {
    text-decoration:none;
}

.review {
    padding-right: 0px;
}

#static-text {
    position: absolute;
    padding: 0 10px;
    background-color: #ccffcc;
    z-index: 2;
    border-right: 3px solid #ddd;
    text-transform: uppercase;
    font-size: 14px;
/*    font-weight: bold;*/
}
